@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OldEnglishGothicPixel';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/OldEnglishGothicPixelRegular-ow2Bo.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Terminal';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Windows';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/W95FA.otf') format('opentype');
  }
}

:root {
  --windows-primary-color: #C0BFBD;
  --windows-secondary-color: #808080;
  --windows-tertiary-color: #060087;
  --size: min(100vw, 100vh);
  --size-botr: calc(var(--size) * 0.5);
  cursor: url('/img/cursors/mouse.svg'), auto;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Terminal', monospace;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: black;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.bg-white-body {
  background-color: white;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.5);
  border: 1px solid #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

::-webkit-scrollbar-corner {
  background: #f0f0f0;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a, button, [role="button"] {
  cursor: url('/img/cursors/select.svg') 7 0, pointer;
}

.cursor-move {
  cursor: url('/img/cursors/move.svg') 12 12, move;
}

.cursor-hor-resize {
  cursor: url('/img/cursors/hor-resize.svg') 5 0, ew-resize;
}

.cursor-vert-resize {
  cursor: url('/img/cursors/vert-resize.svg') 0 5, ns-resize;
}

.cursor-diag-right-resize {
  cursor: url('/img/cursors/se-resize.svg') 3 3, se-resize;
}

.loader {
  width: 60px;
  height: 25px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.fade-in-out {
  animation: fadeInOut 3s infinite;
}

.logo {
  fill: #1d1d1b;
  font-family: 'OldEnglishGothicPixel';
  font-size: 56.16px;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.text-shadow-black {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.text-shadow-white {
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.text-shadow-white-2 {
  text-shadow: 0.5px 0.5px 0 #ffffff, -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff;
}

.size-book {
  width: calc(var(--size-botr) * 0.5);
  height: calc(var(--size-botr) * 0.5);
}

.drag-upload {
  position: absolute;
  left: calc(var(--size-botr) * 0.098);
  top: calc(var(--size-botr) * 0.042);
  width: 69%;
  height: 76.5%;
}

.profile-picture {
  position: absolute;
  width: 70%;
  height: 80%;
  left: calc(var(--size-botr) * 0.095);
  top: calc(var(--size-botr) * 0.03);
  object-fit: cover;
}
.text-shadow-white {
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.text-shadow-white-2 {
  text-shadow: 0.5px 0.5px 0 #ffffff, -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff;
}

.size-book {
  width: calc(var(--size-botr) * 0.5);
  height: calc(var(--size-botr) * 0.5);
}

.drag-upload {
  position: absolute;
  left: calc(var(--size-botr) * 0.098);
  top: calc(var(--size-botr) * 0.042);
  width: 69%;
  height: 76.5%;
}

.profile-picture {
  position: absolute;
  width: 70%;
  height: 80%;
  left: calc(var(--size-botr) * 0.095);
  top: calc(var(--size-botr) * 0.03);
  object-fit: cover;
}