@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OldEnglishGothicPixel';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/OldEnglishGothicPixelRegular-ow2Bo.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Terminal';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
  }
}

:root {
  cursor: url('/img/icons/mouse.png'), auto;
}

a, button, [role="button"] {
  cursor: url('/img/icons/select.png'), pointer;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.logo {
  fill: #1d1d1b;
  font-family: 'OldEnglishGothicPixel';
  font-size: 56.16px;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.text-shadow-black {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.text-shadow-white {
  text-shadow: 0.5px 0.5px 0 #ffffff, -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff;
}