@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OldEnglishGothicPixel';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/OldEnglishGothicPixelRegular-ow2Bo.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Terminal';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Windows';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/W95FA.otf') format('opentype');
  }
}

:root {
  --windows-primary-color: #C0BFBD;
  --windows-secondary-color: #008682;
  --windows-tertiary-color: #060087;
  --size: min(100vw, 100vh);
  --size-botr: calc(var(--size) * 0.5);
  cursor: url('/img/cursor/mouse.png'), auto;
}

html,
body {
  scroll-behavior: smooth;
  background-color: black;
  transition: background-color 0.3s ease;
}

.bg-white-body {
  background-color: white;
}

a, button, [role="button"] {
  cursor: url('/img/cursor/select.png'), pointer;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.fade-in-out {
  animation: fadeInOut 3s infinite;
}

.logo {
  fill: #1d1d1b;
  font-family: 'OldEnglishGothicPixel';
  font-size: 56.16px;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.text-shadow-black {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.text-shadow-white {
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.text-shadow-white-2 {
  text-shadow: 0.5px 0.5px 0 #ffffff, -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff, -0.5px 0.5px 0 #ffffff;
}

.size-book {
  width: calc(var(--size-botr) * 0.5);
  height: calc(var(--size-botr) * 0.5);
}

.drag-upload {
  position: absolute;
  left: calc(var(--size-botr) * 0.098);
  top: calc(var(--size-botr) * 0.042);
  width: 69%;
  height: 76.5%;
}

.profile-picture {
  position: absolute;
  width: 70%;
  height: 80%;
  left: calc(var(--size-botr) * 0.095);
  top: calc(var(--size-botr) * 0.03);
  object-fit: cover;
}